body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
}
.roy{
    color: salmon;
}
.roy-bid{
    color: salmon;
}
.half-width{
    width:50%;
    padding-left: 2%;
}
.half-width img{
    width:80%;
}
.bid{
    border:2px solid orangered;
    background-color: aqua;
    width:300px; 
    text-decoration: none;
    padding: 40px;
    border-radius: 10px;
    margin-left:20px;
    text-align: center;
}
.ton{
    color:darkturquoise; 
}
.tonu{
    margin-left: 80px;
    margin-bottom: 100px;
    margin-top:10px;
    margin-right:60px;
    padding:10px;
}
.corw{
   border: 2px solid orangered;
   background-color: aqua;
   width:300px;
   text-decoration: none;
   text-align: center;
   padding: 40px;
   border-radius: 10px;
   margin-left: 470px;
}
.stack{
    border:2px solid orangered;
    background-color: aqua;
    text-decoration: none;
    width:300px;
    padding:40px;
    margin-top:100px;
    text-align: center;
    border-radius: 10px;
    margin-left: 870px;
}
.pori{
    margin-bottom: 100px;
    margin-left: 60px;
}
.link-buttom{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    background-color: palegreen;
    padding:10px 40px;
    border-radius:5px;
}
