body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
}
img{
    width:500px;

}
.roy{
    color: salmon;
}
.bid{
    border:2px solid orangered;
    background-color: aqua;
    width:300px; 
    text-decoration: none;
    padding: 20px 20px;
}